root = true

[*]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf

[*.{js,json,yml,sh}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.kt]
continuation_indent_size=4
max_line_length=off
